<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
   <extension point="org.knime.workbench.repository.nodes">
      <node category-path="/community/cdk/io" factory-class="org.openscience.cdk.knime.convert.cdk2molecule.CDK2MoleculeNodeFactory" id="org.openscience.cdk.knime.convert.cdk2molecule.CDK2MoleculeNodeFactory"/>
      <node category-path="/community/cdk/io" factory-class="org.openscience.cdk.knime.convert.molecule2cdk.Molecule2CDKNodeFactory" id="org.openscience.cdk.knime.convert.molecule2cdk.Molecule2CDKNodeFactory"/>
      <node category-path="/community/cdk" factory-class="org.openscience.cdk.knime.nodes.connectivity.ConnectivityNodeFactory" id="org.openscience.cdk.knime.connectivity.ConnectivityNodeFactory"/>
      <node category-path="/community/cdk" factory-class="org.openscience.cdk.knime.nodes.coord2d.Coord2DNodeFactory" id="org.openscience.cdk.knime.coord2d.Coord2DNodeFactory"/>
      <node category-path="/community/cdk" factory-class="org.openscience.cdk.knime.nodes.fingerprints.FingerprintNodeFactory" id="org.openscience.cdk.knime.fingerprints.FingerprintNodeFactory"/>
      <node category-path="/community/cdk" factory-class="org.openscience.cdk.knime.nodes.fingerprints.similarity.SimilarityNodeFactory" id="org.openscience.cdk.knime.fingerprints.similarity.SimilarityNodeFactory"/>
      <node category-path="/community/cdk" factory-class="org.openscience.cdk.knime.nodes.descriptors.lipinski.LipinskiNodeFactory" id="org.openscience.cdk.knime.lipinski.LipinskiNodeFactory"/>
      <node category-path="/community/cdk" factory-class="org.openscience.cdk.knime.nodes.descriptors.molprops.MolPropsNodeFactory" id="org.openscience.cdk.knime.molprops.MolPropsNodeFactory"/>
      <node category-path="/community/cdk" factory-class="org.openscience.cdk.knime.nodes.hydrogen.HydrogenAdderNodeFactory" id="org.openscience.cdk.knime.hydrogen.HydrogenAdderNodeFactory"/>
      <node category-path="/community/cdk/3d" factory-class="org.openscience.cdk.knime.view3d.JmolViewerNodeFactory" id="org.openscience.cdk.knime.view3d.JmolViewerNodeFactory"/>
      <node category-path="/community/cdk" factory-class="org.openscience.cdk.knime.nodes.descriptors.xlogp.XLogPNodeFactory" id="org.openscience.cdk.knime.xlogp.XLogPNodeFactory"/>
      <node category-path="/community/cdk" factory-class="org.openscience.cdk.knime.sketcher.SketcherNodeFactory" id="org.openscience.cdk.knime.sketcher.SketcherNodeFactory"/>
      <node category-path="/community/cdk" factory-class="org.openscience.cdk.knime.nodes.sssearch.SSSearchNodeFactory" id="org.openscience.cdk.knime.sssearch.SSSearchNodeFactory"/>
	  <node category-path="/community/cdk" factory-class="org.openscience.cdk.knime.nodes.smarts.SmartsNodeFactory" id="org.openscience.cdk.knime.smarts.SmartsNodeFactory"/>
	  <node category-path="/community/cdk" factory-class="org.openscience.cdk.knime.nodes.atomsignature.AtomSignatureNodeFactory" id="org.openscience.cdk.knime.atomsignature.AtomSignatureNodeFactory"/>
	  <node category-path="/community/cdk" factory-class="org.openscience.cdk.knime.nodes.sugarremover.SugarRemoverNodeFactory" id="org.openscience.cdk.knime.sugarremover.SugarRemoverNodeFactory"/>
	  <node category-path="/community/cdk" factory-class="org.chemspider.knime.ChemSpiderNodeFactory" id="org.chemspider.knime.ChemSpiderNodeFactory"/>
   	  <node category-path="/community/cdk/3d" factory-class="org.openscience.cdk.knime.nodes.rmsdcalculator.RMSDCalculatorNodeFactory" id="org.openscience.cdk.knime.rmsdcalculator.RMSDCalculatorNodeFactory"/>
      <node category-path="/community/cdk" factory-class="org.openscience.cdk.knime.nodes.sumformula.SumFormulaNodeFactory" id="org.openscience.cdk.knime.sumformula.SumFormulaNodeFactory"/>
      <node category-path="/community/cdk" factory-class="org.openscience.cdk.knime.nodes.elementfilter.ElementFilterNodeFactory" id="org.openscience.cdk.knime.elementfilter.ElementFilterNodeFactory"/>
      <node category-path="/community/cdk" factory-class="org.openscience.cdk.knime.nodes.opsin.OpsinNameConverterNodeFactory" id="org.openscience.cdk.knime.opsin.OpsinNameConverterNodeFactory"/>
	  <node category-path="/community/cdk/3d" factory-class="org.openscience.cdk.knime.nodes.descriptors.whim3d.Whim3dNodeFactory" id="org.openscience.cdk.knime.whim3d.Whim3dNodeFactory"/>
	  <node category-path="/community/cdk/3d" factory-class="org.openscience.cdk.knime.nodes.coord3d.Coord3dNodeFactory" id="org.openscience.cdk.knime.coord3d.Coord3dNodeFactory"/>
	  <node category-path="/community/cdk/3d" factory-class="org.openscience.cdk.knime.nodes.descriptors.distance3d.Distance3dNodeFactory" id="org.openscience.cdk.knime.distance3d.Distance3dNodeFactory"/>
	  <node category-path="/community/cdk/3d" factory-class="org.openscience.cdk.knime.nodes.descriptors.distance3d.similarity.DistanceSimilarityNodeFactory" id="org.openscience.cdk.knime.distance3d.similarity.DistanceSimilarityNodeFactory"/>
   	  <node category-path="/community/cdk" factory-class="org.openscience.cdk.knime.nodes.symmetrycalculator.SymmetryCalculatorNodeFactory" id="org.openscience.cdk.knime.symmetrycalculator.SymmetryCalculatorNodeFactory"/>
      <node category-path="/community/cdk/ambit" factory-class="ambit2.knime.tautomers.TautomerFactory" id="ambit2.knime.tautomers.TautomerFactory"/>
	  <node category-path="/community/cdk" factory-class="org.openscience.cdk.knime.nodes.masscalculator.MassCalculatorNodeFactory" id="org.openscience.cdk.knime.masscalculator.MassCalculatorNodeFactory"/>
<node category-path="/community/cdk" factory-class="org.openscience.cdk.knime.nodes.depiction.DepictionNodeFactory" id="org.openscience.knime.nodes.depiction.DepictionNodeFactory"/>
</extension>
   	<extension point="org.knime.workbench.repository.categories">
       <category after="" description="Nodes using the Chemistry Development Kit (CDK)" icon="icons/cdk.png" level-id="cdk" name="CDK" path="/community"/>
       <category description="Nodes for CDK molecule conversion" icon="icons/category_translator.png" level-id="translators" name="Translators" path="/community/cdk"/>
       <category description="Nodes for CDK molecule conversion" icon="icons/category_io.png" level-id="io" name="I/O" path="/community/cdk"/>
       <category description="Nodes for 3D CDK molecules" icon="icons/category_3d.png" level-id="3d" name="3D" path="/community/cdk"/>
       <category description="AMBIT" icon="icons/category_ambit.png" level-id="ambit" name="AMBIT" path="/community/cdk"/>
   </extension>
   <extension point="org.eclipse.equinox.preferences.preferences">
      <initializer class="org.openscience.cdk.knime.preferences.CDKPreferenceInitializer"/>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page category="org.knime.chem.preferences" class="org.openscience.cdk.knime.preferences.CDKPreferencePage" id="org.knime.ext.chem.cdk.preferences" name="CDK"/>
   </extension>
   <extension point="org.knime.product.splashExtension">
		<splashExtension icon="icons/cdk_splash_48.png" icon24="icons/cdk_splash_24.png" icon32="icons/cdk_splash_32.png" id="cdk" tooltip="CDK">
		</splashExtension>
   </extension>
   <extension point="org.knime.core.DataValueRenderer"> 
	 <dataValue valueClass="org.openscience.cdk.knime.type.CDKValue"> 
		 <renderer rendererFactoryClass="org.openscience.cdk.knime.type.CDKValueRenderer$Factory" suggestAsDefault="false"> 
		 </renderer> 
	 </dataValue> 
</extension>
<extension point="org.knime.core.DataType">
      <DataType cellClass="org.openscience.cdk.knime.type.CDKCell3">
         <serializer cellClass="org.openscience.cdk.knime.type.CDKCell" serializerClass="org.openscience.cdk.knime.type.CDKCell$CDKSerializer">
         </serializer>
         <serializer cellClass="org.openscience.cdk.knime.type.CDKAdapterCell" serializerClass="org.openscience.cdk.knime.type.CDKAdapterCell$Serializer">
         </serializer>
         <serializer cellClass="org.openscience.cdk.knime.type.CDKCell2" serializerClass="org.openscience.cdk.knime.type.CDKCell2$CDKSerializer">
         </serializer>
         <serializer cellClass="org.openscience.cdk.knime.type.CDKCell3" serializerClass="org.openscience.cdk.knime.type.CDKCell3$CDKSerializer">
         </serializer>
      </DataType>
   </extension>
<extension
      point="org.knime.core.DataCellToJavaConverter">
   <DataCellToJavaConverter
         factoryClass="org.openscience.cdk.knime.type.snippets.java.CdkCellToJavaFactory">
   </DataCellToJavaConverter>
</extension>
<extension
      point="org.knime.core.JavaToDataCellConverter">
   <JavaToDataCellConverter
         factoryClass="org.openscience.cdk.knime.type.snippets.java.JavaToCdkCellFactory">
   </JavaToDataCellConverter>
</extension>
</plugin>
